<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/aa311c19-1e31-4e1d-8c9b-c7524a0ad425/resourceGroups/joy/providers/Microsoft.ContainerRegistry/registries/GameApi20240120144812</ResourceId>
    <ResourceName>GameApi20240120144812</ResourceName>
    <ResourceGroup>joy</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://gameapi20240120144812.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>3883716d-e82b-4427-88ca-7941da1fae8a</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>